node-red-flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "Real-time Lock Monitoring",
        "disabled": false,
        "info": "Monitors lock status updates in real-time via MQTT"
    },
    {
        "id": "test_inject",
        "type": "inject",
        "z": "flow1",
        "name": "Test Data",
        "props": [
            {
                "p": "payload",
                "v": "{\"batteryLevel\": 85, \"signalStrength\": 90, \"lockId\": \"test_lock\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 200,
        "wires": [["parse_status"]]
    },
    {
        "id": "mqtt_in_1",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Lock Status Updates",
        "topic": "/+/up_link",
        "qos": "2",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [["debug_mqtt", "parse_status"]]
    },
    {
        "id": "debug_mqtt",
        "type": "debug",
        "z": "flow1",
        "name": "MQTT Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "parse_status",
        "type": "function",
        "z": "flow1",
        "name": "Parse Lock Data",
        "func": "const payload = msg.payload;\nconst battery = payload.batteryLevel || 0;\nconst signal = payload.signalStrength || 0;\nconst lockId = payload.lockId || 'Unknown';\n\nnode.warn('Received: battery=' + battery + ', signal=' + signal + ', lockId=' + lockId);\n\n// Create message with lockId in topic for routing\nmsg.payload = battery;\nmsg.topic = lockId;\nmsg.signal = signal;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [["route_by_lock"]]
    },
    {
        "id": "route_by_lock",
        "type": "switch",
        "z": "flow1",
        "name": "Route by Lock ID",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "lock_gateway_001_1", "vt": "str"},
            {"t": "eq", "v": "lock_gateway_001_2", "vt": "str"},
            {"t": "eq", "v": "lock_gateway_001_3", "vt": "str"},
            {"t": "eq", "v": "lock_gateway_002_1", "vt": "str"},
            {"t": "eq", "v": "lock_gateway_002_2", "vt": "str"},
            {"t": "eq", "v": "lock_gateway_002_3", "vt": "str"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 560,
        "y": 100,
        "wires": [
            ["battery_gw1_lock1", "signal_gw1_lock1"],
            ["battery_gw1_lock2", "signal_gw1_lock2"],
            ["battery_gw1_lock3", "signal_gw1_lock3"],
            ["battery_gw2_lock1", "signal_gw2_lock1"],
            ["battery_gw2_lock2", "signal_gw2_lock2"],
            ["battery_gw2_lock3", "signal_gw2_lock3"]
        ]
    },
    {
        "id": "battery_gw1_lock1",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW1-Lock1 Battery",
        "group": "gw1_group",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 1 - Battery",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "20",
        "seg2": "50",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "signal_gw1_lock1",
        "type": "function",
        "z": "flow1",
        "name": "Extract Signal",
        "func": "msg.payload = msg.signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 80,
        "wires": [["signal_gauge_gw1_lock1"]]
    },
    {
        "id": "signal_gauge_gw1_lock1",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW1-Lock1 Signal",
        "group": "gw1_group",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 1 - Signal",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "30",
        "seg2": "60",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "battery_gw1_lock2",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW1-Lock2 Battery",
        "group": "gw1_group",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 2 - Battery",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "20",
        "seg2": "50",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "signal_gw1_lock2",
        "type": "function",
        "z": "flow1",
        "name": "Extract Signal",
        "func": "msg.payload = msg.signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 180,
        "wires": [["signal_gauge_gw1_lock2"]]
    },
    {
        "id": "signal_gauge_gw1_lock2",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW1-Lock2 Signal",
        "group": "gw1_group",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 2 - Signal",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "30",
        "seg2": "60",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "battery_gw1_lock3",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW1-Lock3 Battery",
        "group": "gw1_group",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 3 - Battery",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "20",
        "seg2": "50",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "signal_gw1_lock3",
        "type": "function",
        "z": "flow1",
        "name": "Extract Signal",
        "func": "msg.payload = msg.signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 280,
        "wires": [["signal_gauge_gw1_lock3"]]
    },
    {
        "id": "signal_gauge_gw1_lock3",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW1-Lock3 Signal",
        "group": "gw1_group",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 3 - Signal",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "30",
        "seg2": "60",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "battery_gw2_lock1",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW2-Lock1 Battery",
        "group": "gw2_group",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 1 - Battery",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "20",
        "seg2": "50",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "signal_gw2_lock1",
        "type": "function",
        "z": "flow1",
        "name": "Extract Signal",
        "func": "msg.payload = msg.signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 380,
        "wires": [["signal_gauge_gw2_lock1"]]
    },
    {
        "id": "signal_gauge_gw2_lock1",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW2-Lock1 Signal",
        "group": "gw2_group",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 1 - Signal",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "30",
        "seg2": "60",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "battery_gw2_lock2",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW2-Lock2 Battery",
        "group": "gw2_group",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 2 - Battery",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "20",
        "seg2": "50",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "signal_gw2_lock2",
        "type": "function",
        "z": "flow1",
        "name": "Extract Signal",
        "func": "msg.payload = msg.signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 480,
        "wires": [["signal_gauge_gw2_lock2"]]
    },
    {
        "id": "signal_gauge_gw2_lock2",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW2-Lock2 Signal",
        "group": "gw2_group",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 2 - Signal",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "30",
        "seg2": "60",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "battery_gw2_lock3",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW2-Lock3 Battery",
        "group": "gw2_group",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 3 - Battery",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "20",
        "seg2": "50",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "signal_gw2_lock3",
        "type": "function",
        "z": "flow1",
        "name": "Extract Signal",
        "func": "msg.payload = msg.signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 580,
        "wires": [["signal_gauge_gw2_lock3"]]
    },
    {
        "id": "signal_gauge_gw2_lock3",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "GW2-Lock3 Signal",
        "group": "gw2_group",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Lock 3 - Signal",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffcc00", "#00ff00"],
        "seg1": "30",
        "seg2": "60",
        "x": 950,
        "y": 580,
        "wires": []
    },

    {
        "id": "flow2",
        "type": "tab",
        "label": "Alerting System",
        "disabled": false,
        "info": "Monitors for low battery, weak signal, and status changes"
    },
    {
        "id": "mqtt_in_2",
        "type": "mqtt in",
        "z": "flow2",
        "name": "Monitor Status",
        "topic": "/+/up_link",
        "qos": "2",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [["switch_alerts"]]
    },
    {
        "id": "switch_alerts",
        "type": "function",
        "z": "flow2",
        "name": "Check Thresholds",
        "func": "const payload = msg.payload;\nconst battery = payload.batteryLevel || 0;\nconst signal = payload.signalStrength || 0;\nconst status = payload.status || 'unknown';\n\nlet output = [null, null, null];\n\n// Check battery threshold\nif (battery < 20) {\n    output[0] = msg;\n}\n\n// Check signal threshold\nif (signal < 50) {\n    output[1] = msg;\n}\n\n// Check status change to occupied\nif (status === 'occupied') {\n    output[2] = msg;\n}\n\nreturn output;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["format_battery_alert"], ["format_signal_alert"], ["format_status_alert"]]
    },
    {
        "id": "format_battery_alert",
        "type": "function",
        "z": "flow2",
        "name": "Format Battery Alert",
        "func": "msg.payload = {\n    alert: 'LOW_BATTERY',\n    lockId: msg.payload.lockId,\n    batteryLevel: msg.payload.batteryLevel,\n    message: `LOW BATTERY: ${msg.payload.lockId} at ${msg.payload.batteryLevel}%`,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [["debug_alert", "log_alert"]]
    },
    {
        "id": "format_signal_alert",
        "type": "function",
        "z": "flow2",
        "name": "Format Signal Alert",
        "func": "msg.payload = {\n    alert: 'WEAK_SIGNAL',\n    lockId: msg.payload.lockId,\n    signalStrength: msg.payload.signalStrength,\n    message: `WEAK SIGNAL: ${msg.payload.lockId} at ${msg.payload.signalStrength}%`,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [["debug_alert", "log_alert"]]
    },
    {
        "id": "format_status_alert",
        "type": "function",
        "z": "flow2",
        "name": "Format Status Alert",
        "func": "msg.payload = {\n    alert: 'STATUS_CHANGE',\n    lockId: msg.payload.lockId,\n    status: msg.payload.status,\n    message: `STATUS CHANGE: ${msg.payload.lockId} is now ${msg.payload.status}`,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [["debug_alert", "log_alert"]]
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "flow2",
        "name": "Alert Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.message",
        "statusType": "msg",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "log_alert",
        "type": "file",
        "z": "flow2",
        "name": "Write Alert Log",
        "filename": "alerts.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 820,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "flow3",
        "type": "tab",
        "label": "Data Logging",
        "disabled": false,
        "info": "Logs all MQTT messages to CSV file"
    },
    {
        "id": "mqtt_in_3",
        "type": "mqtt in",
        "z": "flow3",
        "name": "All Messages",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["format_log"]]
    },
    {
        "id": "format_log",
        "type": "function",
        "z": "flow3",
        "name": "Format Log Entry",
        "func": "const timestamp = new Date().toISOString();\nconst topic = msg.topic;\nlet payload = msg.payload;\n\nif (typeof payload === 'object') {\n    payload = JSON.stringify(payload);\n}\n\nmsg.payload = {\n    timestamp: timestamp,\n    topic: topic,\n    message: payload\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [["csv_convert", "debug_log"]]
    },
    {
        "id": "csv_convert",
        "type": "csv",
        "z": "flow3",
        "name": "Convert to CSV",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,topic,message",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 540,
        "y": 100,
        "wires": [["write_csv"]]
    },
    {
        "id": "write_csv",
        "type": "file",
        "z": "flow3",
        "name": "Write CSV Log",
        "filename": "mqtt-messages.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 720,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "debug_log",
        "type": "debug",
        "z": "flow3",
        "name": "Log Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red-monitor",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Lock Monitoring",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "gw1_group",
        "type": "ui_group",
        "name": "Gateway 001 Locks",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "gw2_group",
        "type": "ui_group",
        "name": "Gateway 002 Locks",
        "tab": "dashboard_tab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Smart Parking Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
